.product-card{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}